{% extends 'base.html.twig' %}
{% block site1 %}
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
</div>
<br>
<br>

<form  action= "{{ path('event_payment') }}" method="post"> 
      
    <h3>Récapitulatif</h3>
    <div class="form-wrapper">
        <label for="name" class="form-label">Vous avez choisi </label>
    	<input type="text" class="form-control" id="name" name="name" value="{{event.service.name}}">
    </div>
    <div class="form-wrapper">
        <label for="date" class="form-label">Date du rdv</label>
    	<input type="text" class="form-control" id="date" value="{{start}}">
    </div>
    <div class="form-wrapper">
        <label for="price" class="form-label">Le prix</label>
    	<input type="text" class="form-control" id="price" name= "price" value="{{event.service.price}}">
    </div>
    
    <input type="submit" class="btn btn-primary" value="Valider" />
</form>

<br>

{% endblock %}
{% block site2 %}{% endblock %}
{% block site3 %}{% endblock %}