{% extends 'base.html.twig' %}
{% block site1 %}
<div class="site-section bg-light" id="contact-section">
	<div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-7 text-center mb-5">
        <h2>Amin's Hair Coiffure</h2>
        <p>Le salon est ouvert depuis 2017 sur la commune de Donnemarie-Dontilly. C'est un salon destiné uniquement au homme. Fort de son succès, les prestations se font uniquement sur rendez-vous. Ainsi, vous-avez le loisir de ne pas patienter sur place en attendant votre tour et d'être dans un calme absolu lors d'une coupe de cheveux.</p>
        <h2>Services</h2>
        <p>Sur place, nous proposons plusieur coupes de cheveux, taillage de barbe et soins du cheveux. Vous avez la possibilité de voir nos prestations dans l'onglet prestation situé dans le menu.</p>
        <h2>Localisation</h2>
        <p> 8 Rue Raymond Bellague, 77520 Donnemarie-Dontilly. Nous sommes ouvert du Mardi au Samedi 24/24 . </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block site2 %}{% endblock %}