{% extends 'base.html.twig' %}
{% block site1 %}
<div class="wrapper" style="background-image: url('{{ asset('images/bg-registration-form-2') }}');">
  <div class="inner">
    <form action="{{ path('secu_login') }}" method="post">
      <h3>Se connecter</h3>
      <div class="form-group">
        <div class="form-wrapper">
          <label for="inputEmail">Email</label>
          <input type="email"  name="email" id="inputEmail"  required autofocus>
        </div>
        <div class="form-wrapper">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>
      </div>
          
      <button>Connexion</button>
    </form>
  </div>
</div>
{% endblock %}
{% block site2 %}{% endblock %}
{% block site3 %}{% endblock %}