{# templates/service/mail.html.twig #}
<h3>Nous vous souhaitons la bienvenu</h3>

<p>
    <a href="{{ url('validate', {'submittedToken': submittedToken}) }}">Clik ici pour activer ton compte</a>
</p> 
