{% extends 'base.html.twig' %}
{% block site1 %}
<div class="site-section bg-light">
      <div class="container">
        <div class="row">
          {% for service in services %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="single.html">
                <img src="{{ asset('images/'~service.image) }}" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                
                <h2><a href="single.html">{{service.name}}</a></h2>
                <span class="meta d-inline-block mb-3">{{service.price}}€</span>
                <p>{{service.description}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
          
         	<div class="col-12 mt-5 text-center">
            <span class="p-3">1</span>
            <a href="#" class="p-3">2</a>
            <a href="#" class="p-3">3</a>
            <a href="#" class="p-3">4</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block site2 %}{% endblock %}